{% extends "modelo.html" %}
{% block conteudo %}
    <h2>SOBRE O DESENVOLVEDOR</h2><br>
    <h3>Alexandre Chaves Martins - 1969</h3>
    </br>

    <h2>Formação Profissionalizante</h2>
    <ul>
        <li>Curso de Programação de Computadores Eletrônicos Linguagem Basic - 1984</li>
        <li>Curso de Iniciação ao Computador - Basic - Nível II - 1985</li>
        <li>Curso técnico de Programação DBASE II - SENAC - 1988</li>
        <li>Curso técnico de Programação - PASCAL pelo SENAC - 1988</li>
        <li>Curso de Praticas e Rotinas Trabalhistas e Previdenciárias - CEAG - 1990</li>
        <li>Curso técnico de DELPHI - NTI - 1997</li>
        <li>Curso Básico de Redes - 1998</li>
        <li>Curso de Instalação e Administração do Windows NT - 1998</li>
        <li>Curso de Suporte e Conectividade com Windows NT - 1998</li>
        <li>Curso de Introdução a Redes Cabeadas - 2008</li>
        <li>Curso de PHP com Orientação a Objetos - 2011</li>
    </ul>
    </br>

    <h2>Formação acadêmica</h2>
    <ul>
        <li>Formado em Análise e Desenvolvimento de Sistemas pela Faculdade Estácio de Sá em 2017 - CRE 9,80 </li>
        <li>Atualmente cursando Sistemas para Internet na Falcudade UNIESP</li>
    </ul>

{% endblock %}
